@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);    
    --Rose800: hsl(332, 51%, 32%);
    --background: hsla(340, 100%, 84%, 0.753);
    --Rose50: hsl(330, 100%, 98%);
    --fonte-principal: 'Young Serif', serif;
    --fonte-secundaria: 'Outfit', sans-serif;
    --padding-padrao: 16px 0; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--Stone900);
    line-height: 32px;
}

h1 {
    color: var(--Stone900)
}

h1, h2 {
    font-family: var(--fonte-principal);
    padding: var(--padding-padrao);
    font-size: 2rem;
}

h2 {
    color: var(--Brown800);
}

p, ul, ol, td {
    font-family: var(--fonte-secundaria);
}


ol, ul {
    padding-left: 20px ;
}



ol li::marker {
    color: var(--Brown800);
    font-weight: bold;
}

h3 {
    font-family: var(--fonte-secundaria);
}

body {
    width: 100%;
    height: 400vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    border-radius: 8px;
}

.receita {
    width: 60%;
    padding: 8%;
    border-radius: 10px;
    background-color: var(--White);

}

.img {
    width: 100%;
}

.ingredients, .instructions {
    padding: 32px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}

.nutrition {
    width: 100%;
    padding: 32px 0;
}


.tempo-receita {
    width: 100%;
    padding: 12px;
    margin: 16px 0 0 0;
    border-radius: 8px;
    background-color: var(--Stone100);
}

h3 {
    color: var(--Rose800)
}

table {
    width: 100%;
}

span {
    color: var(--Brown800);
    font-weight: bold;
}
td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    padding: 16px;
}


@media screen and (max-width: 490px) {
    h1, h2, h3 {
        font-size: 1.2rem;
    }

    p, ol li, ul li, td {
       font-size: 80%; 
       line-height: 1.2rem;
    }
    
}

@media screen and (max-width: 360px) {
    h3 {
        font-size: 90%;
    }

    p, ol li, ul li, strong {
        font-size: 80%;
    }
    
}